<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../js/layui/css/layui.css">
    
</head>
<body>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		  <legend>新增客户信息</legend>
	</fieldset>
	<form class="layui-form"  id="form1">
	 	<div class="layui-form-item">
		   	<label class="layui-form-label">手&nbsp;机&nbsp;号</label>
			<div class="layui-input-inline">
			     	<input type="phone" id="phone" name="phone" required lay-verify="required" placeholder="手机号" autocomplete="off" class="layui-input">
			</div>
	   </div>
		<div class="layui-form-item">
		   	<label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
			<div class="layui-input-inline">
			     	<input type="name" name="name" id="name" required lay-verify="required" placeholder="客户姓名" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
		   	<label class="layui-form-label">身&nbsp;份&nbsp;证</label>
			<div class="layui-input-inline">
			     	<input type="idcard" name="idcard" id="idcard" required lay-verify="required" placeholder="身份证" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
		   	<label class="layui-form-label">车&nbsp;牌&nbsp;号</label>
			<div class="layui-input-inline">
			     	<input type="car" name="car" id="car" required lay-verify="required" placeholder="车牌号" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
		   	<label class="layui-form-label">性&nbsp;&nbsp;&nbsp;别</label>
			<div class="layui-input-inline">
			      <select name="sex" id="sex">
			      	<option value="男">男</option>
			      	<option value="女">女</option>
			      </select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
			   <button class="layui-btn" type="button" id="add" lay-filter="formDemo">提交</button>	     
			</div>
		</div>
	<input name="id" id="cid" type="hidden"/>
	</form>
</body>
<script type="text/javascript" src="../../js/layui/layui.js"></script>
<script>
 	layui.use(['form','layer','jquery'], function(){
		var form = layui.form, 
		$ = layui.jquery, 
		layer = layui.layer;
		$(document).on('click','#add',function(){
			$.ajax({
				url : '/cust/add',// 跳转到 action
				type : 'post',
				data :$("#form1").serialize(),
				success : function(data) {
					if(data=='1'){
						layer.alert("新增成功！");
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			            parent.layer.close(index); 
			            window.parent.location.reload();
					}
				},
				error : function(error) {
					// view("异常！");  
				}
			});
		});
 	});
</script>
</html>